p {
  margin: 0;
}
.container-sm {
  max-width: 780px;
}
.navbar-nav .nav-link {
  color: #ffffffe6;
}
.btn:active {
  border-color: transparent !important;
}
input:focus-visible {
  outline: none !important;
}
