p {
  margin: 0;
}
.container-sm {
  max-width: 780px;
}
.navbar-nav .nav-link {
  color: #a8fff8;
}
.btn:active {
  border-color: transparent !important;
}
select:focus,
input:focus,
textarea:focus {
  box-shadow: none !important;
}
input:focus-visible,
textarea:focus-visible {
  outline: none !important;
  border-bottom: 2px solid #004052 !important;
}
