:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  --font-color: #0a0a0a;
  --link-color: #1c75b9;
  --link-white-color: #fafafa;
  --bg-color: #f3f3f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-theme="dark"] {
  --font-color: #e7e7e7;
  --link-color: #0a86da;
  --link-white-color: #c1bfbd;
  --bg-color: #2a2a2a;
}
body {
  color: #000;
  color: var(--font-color);
  background: rgb(243, 243, 243);
  background: var(--bg-color);
  margin: 0;
  display: flex;
}
a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: #65c7d6;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
